[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[scripts]
build = "python main.py"
ui = "python tkinter_ui.py"

[dev-packages]

[packages]
requests = "*"
feedparser = "*"
pytz = "*"
selenium = "*"
bs4 = "*"
tqdm = "*"
async-timeout = "*"
pyinstaller = "*"
aiohttp = "*"
flask = "*"
opencc-python-reimplemented = "*"
fake-useragent = "*"

[requires]
python_version = "3.8"
