name: Release
on:
  workflow_dispatch:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          update-environment: true
          cache: 'pipenv'

      - name: Install pipenv
        run: pip install pipenv

      - name: Install dependencies with pipenv
        run: pipenv --python 3.11 && pipenv install

      - name: Install PyInstaller
        run: pipenv install pyinstaller

      - name: Build the application
        run: pipenv run pyinstaller tkinter_ui.spec

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: update-tool
          path: /home/runner/work/TV/TV/dist/update-tool

      - name: Install jq
        run: sudo apt-get install jq

      - name: Get version from version.json
        id: get_info
        run: |
          echo "version=$(node -p "require('./version.json').version")" >> $GITHUB_ENV

      - name: Get changelog
        id: get_changelog
        run: |
          changelog=$(sed -n '/## v'${{ env.version }}'/,/^## v/p' CHANGELOG.md | sed '/^## v'${{ env.version }}'/d' | sed -n '/###/,/^## v/p' | head -n -1)
          echo "changelog=$(echo "$changelog" | jq -R -s .)" >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.version }}
          release_name: v${{ env.version }}
          body: ${{ fromJSON(env.changelog) }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: /home/runner/work/TV/TV/dist/update-tool
          asset_name: update-tool.exe
          asset_content_type: application/octet-stream
